  <div class="container mt-5">
    <div class="section-top">
      <h1>
        Statistika
      </h1>
      <div>
        <select class="form-control form-control-sm" (change)="filterForeCasts($event.target.value)">
          <option value="0">Svi tipovi aktivnosti</option>
          <option *ngFor="let a of chachedStatistic" value={{a.statisticName}}>
            {{a.statisticName}}
          </option>
        </select>
      </div>
    </div>
    <div *ngFor="let s of statistics">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <h3>{{ s.statisticName}}</h3>
          </h5>
          <div class="card-text">
            <h5>Broj dovršenih zadataka: {{s.numOfCompletedTasks}}</h5>
            <h5>Broj budućih zadataka: {{s.numOfFutureTasks}}</h5>
            <h5>Vrijeme potrošeno na zadatke: {{s.timeSpend}}h</h5>
            <h5>Vrijeme koje je potrebno utrošiti na zadatke: {{s.timeFuture}}h</h5>
          </div>
        </div>
      </div>

    </div>
  </div>


