<div class="container mt-5" *ngIf="activity">
  <h1>Uredi "{{ activity.ActivityName }}"</h1>
  <form
    (submit)="submitForm(); $event.preventDefault()"
    class="activity-edit-form"
  >
    <app-activity-form [activity]="activity"></app-activity-form>
    <button type="submit" class="btn btn-primary">
      <i class="fas fa-save mr-2"></i> Spremi
    </button>
  </form>
  <div class="section-top">
    <h3>Zadaci</h3>
    <div>
      <button
        class="btn btn-secondary"
        (click)="addNewActivityTask()"
        *ngIf="!creating"
      >
        <i class="fas fa-plus mr-2"></i> Dodaj novi zadatak
      </button>
    </div>
  </div>
  <div class="card mb-2" *ngIf="creating">
    <div class="card-body">
      <h5 class="card-title">Novi zadatak</h5>
      <form (submit)="saveNewActivityTask(); $event.preventDefault()">
        <app-activity-task-form
          [activityTask]="newActivityTask"
        ></app-activity-task-form>
        <button class="btn btn-primary mr-2" type="submit">
          <i class="fas fa-save mr-2"></i> Spremi
        </button>
        <button
          class="btn btn-secondary"
          (click)="cancelAddingNewTask(); $event.preventDefault()"
        >
          Odustani
        </button>
      </form>
    </div>
  </div>
  <p *ngIf="!activity || activity.activityTasks.length === 0">
    Trenutno nema dodanih zadataka. Dodaj novi pritiskom na gumb ispod.
  </p>
  <div *ngIf="activity">
    <div class="mb-2" *ngFor="let activityTask of activity.activityTasks">
      <app-activity-task-item
        [activityTask]="activityTask"
        (deleted)="onTaskDeleted()"
        (updated)="onTaskDeleted()"
      ></app-activity-task-item>
    </div>
  </div>
</div>