<div class="card activity-type">
  <div class="card-body">
    <h5 class="card-title">
      {{ userActivityType.ActivityType.ActivityTypeName }}
    </h5>
    <p class="card-text">
      Preferirano vrijeme izvođenja: {{ userActivityType.TimeFrom }}:00-{{ userActivityType.TimeTo }}:00h
    </p>
    <a
      routerLink="/activityTypes/{{
        userActivityType.ActivityType.ActivityTypeId
      }}"
      class="btn btn-secondary"
      style="margin-right: .5rem"
      ><i class="fas fa-pencil-alt mr-2"></i> Uredi</a
    >
    <a
      href="#"
      (click)="deleteActivityType(); $event.preventDefault()"
      class="btn btn-danger"
      ><i class="fas fa-trash mr-2"></i> Obriši</a
    >
  </div>
</div>
