<div class="container mt-5">
  <h1>Uredi "{{ activityType.ActivityTypeName }}"</h1>
  <form (submit)="submitForm(); $event.preventDefault()">
    <div class="form-group">
      <label for="activityTypeName">Ime tipa aktivnosti</label>
      <input
        type="text"
        class="form-control"
        id="activityTypeName"
        name="activityTypeName"
        [(ngModel)]="activityTypeForm.ActivityTypeName"
        placeholder="Unesi ime aktivnosti"
      />
    </div>
    <button type="submit" class="btn btn-primary"><i class="fas fa-save mr-2"></i> Spremi</button>
  </form>
</div>
