.activity-task {
    position: relative;
    margin-bottom: 1rem;
    border-left: 10px solid;
}

.activity-task-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.activity-task-change {
    margin-top: 1rem;
}

.activity-task-details .badge {
    /* font-size: 1rem; */
}