<div class="container mt-5" *ngIf="!authService.loggedIn()">
  <!--<div *ngIf="!registerMode" style="text-align: center">-->
  <div
    *ngIf="!registerMode"
    style="text-align: center"
    style="text-align: center"
  >
    <h1>Upravitelj vremena</h1>
    <p class="lead">
      Pridruži nam se i organiziraj svoje vrijeme efikasno!
    </p>
    <div *ngIf="!authService.loggedIn()" class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">
        Registracija
      </button>
    </div>
  </div>

  <div *ngIf="registerMode && !authService.loggedIn()" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register
          (cancelRegister)="cancelRegisterMode($event)"
        ></app-register>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5" *ngIf="authService.loggedIn()">
  <h1>Raspored</h1>
  <mat-form-field>
    <input
      matInput
      [matDatepicker]="picker3"
      placeholder="Odaberite datum"
      [value]="date.value"
      (dateChange)="addEvent('change', $event)"
    />
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>

  <app-activity-task
    *ngFor="let activityTask of activityTasks"
    [activityTask]="activityTask"
    (updated)="onUpdated()"
  ></app-activity-task>
</div>
